<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ss.auth.repository.BaseUserRepository">

    <select id="selectAuthorityList" resultType="java.lang.String">
        SELECT ba.`code` FROM base_user_role bur
        LEFT JOIN base_role br ON br.id = bur.role_id and br.is_deleted = 0
        LEFT JOIN base_role_authority bra ON bra.role_id = br.id and bra.is_deleted = 0
        LEFT JOIN base_authority ba ON ba.id = bra.authority_id and ba.is_deleted = 0
        WHERE bur.id = #{id};
    </select>
</mapper>